body{
    background: #0a0a0a
}

html{
    overflow: hidden
}

.has-text-spot{
    color: #00e8b9 !important
}

.has-background-spot{
    background: #00e8b9 !important
}

.topNav > button{
    margin: 0 5px
}

.itemBox:not(:last-child){
    border-bottom: solid gray 1px
}

.itemBox:hover .favs{
    display: block !important;
    animation: fadeInUp 0.2s
}

.itemBox:first-child{
    margin-top: 6rem
}
.searchPane.active{
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    
}

.columns.is-gapless > .column.searchPane.active{
    padding: 1rem !important
}

.topNav{
    z-index: 2
}