@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

body{
    background: #0a0a0a
}

html{
    overflow: hidden
}

.has-text-spot{
    color: #00e8b9 !important
}

.has-background-spot{
    background: #00e8b9 !important
}

.topNav  button{
    margin: 0 5px
}

.itemBox:not(:last-child){
    border-bottom: solid gray 2px
}

.itemBox:hover .favs{
    display: block !important;
    animation: fadeInUp 0.2s
}

.itemBox{
    margin: 2rem
}

.searchPane.active .itemBox{
    margin-left: 4rem;
    margin-right: 4rem
}

.itemBox:first-child{
    margin-top: 6rem !important
}

.searchPane.active{
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

.topNav{
    z-index: 2
}

.intro-animated{
    animation: pulse 3.2s forwards infinite ease-in-out
}

.monoton-font{
    font-family: 'Playfair Display SC', serif;
}